// Variables

$whitewashWhite: #FAF9F6;
$whitewashAccent: #FFFEF1;
$mandarin: #FF823F;
$mandarinAccent: #FFA450;
$lineBlue: #6B8280;
$deepTurquoise: #1F3634;
$unselectedDeepTurquoise: #C4C4C4;
$black: #000000;
$white: #FFFFFF;
$grey: #333333;
