// @import url(https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Roboto:wght@400;500&display=swap);

// Variables
$H1: 'DM Serif Display', serif;
$H2: 'DM Serif Display', serif;
$paragraph: 'Roboto', sans-serif;
