/* WordPlate */

@import "main.scss";
@import "header.scss";
@import "events.scss";
@import "event-card.scss";
@import "event-carousel.scss";

html {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}



// temporary css under here!



.hero-image {
  width: 100vw;
  height: 55vh;
}
