/* WordPlate */

@import "main.scss";
@import "header.scss";
@import "events.scss";
@import "event-card.scss";


html {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}



// temporary css under here!



.hero-image {
  width: 100vw;
  height: 55vh;
}
