/* WordPlate */

// import mixins, colors and fonts (via mixins)
@import "assets/colors.scss";
@import "assets/mixins.scss";

// import page styling
@import "header.scss";
@import "eventPage.scss";
@import "eventCard.scss";
@import "eventCarousel.scss";
@import "news.scss";
@import "searchForm.scss";
@import "archive.scss";
@import "contact.scss";
@import "history.scss";
@import "hireVenues.scss";
@import "guidedTours.scss";
@import "footer.scss";
@import "singleEvent.scss";
@import "homePage.scss";

html {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  position: relative;
  margin-top: 60px;
  background-color: $whitewashWhite;
  min-height: 100vh;
}

.hidden {
  display: none;
}

h1 {
  @include H1;
  font-weight: 400;
  color: $deepTurquoise;
  font-size: 24px;
  text-transform: uppercase;
}

h2 {
  @include H2;
  font-weight: normal;
  color: $deepTurquoise;
  font-size: 18px;
  text-transform: uppercase;
}

h3 {
  @include tagline;
  color: $deepTurquoise;
}

p {
  @include paragraph;
  color: $deepTurquoise;
  font-size: 16px;
}

.h1-center {
  @include H1;
  text-align: center;
}

*:focus {
  outline: none;
}

.readMoreLink {
  @include flexCenterCenter;
  flex-direction: column;
  text-transform: uppercase;
  border-bottom: 1px solid $mandarinAccent;
  margin-top: 16px;
  margin-bottom: 32px;
}
