.mediaSelect {
  @include flexJustifyAround;
  color: $black;
  z-index: 2;
}

.pictures.active,
.videos.active {
  color: $deepTurquoise;
}

.display-none {
  display: none;
}

.pictures {
  margin-left: 100px;
  color: $lineBlue;
  @include H1;
}

.videos {
  margin-right: 100px;
  color: $lineBlue;
  @include H1;
}

.divider {
  color: $mandarin;
  @include H1;
}

.seeMoreStyling,
.seeMoreStyling a {
  @include paragraph;
  color: $deepTurquoise;
  @include flexJustifyCenter;
}

.sbi_load_btn,
.sby_load_btn {
  background: transparent !important;
}

.sby_items_wrap {
  z-index: -1 !important;
}
