.contact-floral-background {
  background: url(./../images/flowers-background.png) 100% 100% no-repeat;
  background-size: cover;

}

.staff-member-box {
  color: $deepTurquoise;
  text-align: center;
}

.staff-img {
  width: 205px;
  height: 178px;
}

.affiliate-member-box {
  display: flex;
  padding: 5px 0 15px 0;
}

.affiliate-img {
  width: 100px;
  height: 100px;
}

.affiliate-text-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $deepTurquoise;
  margin-left: 20px;
  // text-align: center;
}

.affiliate-text-box h2 {
  margin-top: 2px;
}

.affiliate-text-box p {
  margin: 10px 0 2px 0;
}

.affiliate-email {
  text-decoration: underline;
}

.find-us-box img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid $mandarin;
  width: 100%;
}

.address {
  display: flex;
  align-items: center;
}

.address-text p {
  margin: 4px 0;
}

.address-text {
  padding-bottom: 25px;
}

.address svg {
  padding: 0 4px 4px 0;
}

.directions {
  color: $deepTurquoise !important;
  display: inline;
}

.directions-div {
  margin-top: 15px;
}


