::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  height: 0px;
  background: transparent;  /* Optional: just make scrollbar invisible */
}

.eventCarousel {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 100%;
}

.eventCarousel__item {
  flex: 0 0 auto;
  height: 100%;
  padding: 0 8px;
  @include flexCenterCenter;

  .eventCard {
    width: 276px;
    margin: 0;
  }

  .eventCard__imageContainer__image {
    height: 165px;
  }
}
