.eventPage {
  @include flexCenterCenter;
  flex-direction: column;
  h2 {
    color: green;
  }
  .eventCard {
    margin: 20px 40px;
  }
  .eventContainer {
    @include flexCenterCenter;
    flex-direction: column;
  }
}
