.eventPage {
  @include flexCenterCenter;
  flex-direction: column;
  padding: 0 16px;
  .eventCard {
    width: 100%;
    margin-top: 24px;
  }
}

.eventContainer {
  width: 100%;
  @include flexCenterCenter;
  flex-direction: column;
}

.loadMoreBtn {
  margin-top: 24px;
  margin-bottom: 32px;
  @include flexCenterCenter;
  :first-child {
    margin: 0;
    margin-right: 8px;
  }
}
