::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

.eventCarousel {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 100vw;
}

.eventCarousel__item {
  flex: 0 0 auto;
  height: 100%;
  width: 240px;
  @include flexCenterCenter;
}
