.floral-divider {
  padding: 20px 0;
}

footer {
  background: url(./../images/footer-background.png) 60% 60% no-repeat;
  z-index: -2;

  .footer-container {
    position: relative;
    width: 92%;
    height: 100vh;
    margin: 0 4%;
    text-align: center;

    .h1 {
      margin: 0;
      padding-top: 30px;
      @include H1;
      color: $white;
    }

    .mailing-list-input {
      background-color: $whitewashWhite;
      color: $deepTurquoise;
      @include paragraph;
      width: 100%;
      height: 42px;
      border: none;
      padding-left: 10px;
      margin-top: 12px;
    }

    .mailing-list-input ::-webkit-input-placeholder {
      color: $deepTurquoise !important;
      @include paragraph;
      font-style: italic;
      padding-left: 10px;
      opacity: 1;
    }

    .mailing-list-button {
      background-color: $lineBlue;
      color: $whitewashWhite;
      width: 100%;
      height: 48px;
      border: none;
    }

    .paragraph {
      margin: 0;
      padding: 0 0 3px 0;
      @include paragraph;
      color: $white;
    }

    .tagline {
      @include tagline;
      color: $whitewashWhite;
      opacity: 0.5;
      margin-top: 25px;
    }

    .social-media-icons {
      @include flexJustifyAround;
      width: 58%;
      margin: 0 auto;
    }

    .social-media-icons svg {
      width: 44px;
      height: 44px;
      padding: 5px 0;
    }

    .footer-line-break {
      color: white;
      height: 1px;
    }

    .company-logos {
      @include flexColumnAlignCenter;
    }

    .company-logos img {
      margin-top: 20px;
    }
  }
}
