header {
  @include flexJustifyBetween;
  background-color: transparent;

  nav {
    @include flexJustifyBetween;
    align-items: center;
    height: 8vh;
    @include H2;
    color: $lineBlue;
    z-index: 1;
    overflow-x: hidden;
    width: 100%;
  }

  .logo {
    margin: 4%;
  }

  .hamburger {
    margin: 3%;
  }

  .menu {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 0vh;
    right: 0px;
    height: 100vh;
    width: 100vw;
    background-color: $lineBlue;
    overflow: hidden;
    overflow-x: hidden;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 1;
  }

  .menu a {
    color: $whitewashWhite;
    text-decoration: none;
    letter-spacing: 2px;
  }

  .menu ul {
    @include flexColumnAlignCenter;
    margin: 0 0 40px 0;
  }

  .menu li {
    list-style: none;
    @include H2;
    margin: 15px 0;
    opacity: 0;
  }

  .close {
    display: none;
    top: 85vh;
    left: 47vw;
    z-index: 2;
  }

  .nav-active {
    @include flexCenterCenter;
    transform: translateX(0%);
    position: fixed;
    overflow-x: hidden;
  }

  .floral-left {
    position: absolute;
    top: 34vh;
    left: 12vw;
    width: 100%;
    height: 100%;
    background: url(./../images/floral-background-left.png) no-repeat;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .floral-right {
    position: absolute;
    top: 52vh;
    right: -20vw;
    width: 100%;
    height: 100%;
    background: url(./../images/floral-background-right.png) no-repeat;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  @keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(200%);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
  }

  @keyframes navFade {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0%);
    }
  }

}

