.venue-img {
  opacity: 0.4;
  padding-top: 15px;
  width: 100%;
}

.individual-venue-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.venue-name {
  position: absolute;
  top: 10px;
  text-align: center;
  border-bottom: 2px solid $mandarin;
  text-transform: uppercase;
}

.venue-capacity {
  position: absolute;
  width: 140px;
  top: 70px;
  text-align: center;
}

.venue-availability {
  position: absolute;
  width: 140px;
  top: 100px;
  text-align: center;
}

.book-button {
  @include flexCenterCenter;
  background-color: $deepTurquoise;
  height: 44px;
  width: 100%;
}

.book-button h2 {
  margin: 0;
  color: $whitewashWhite !important;
  pointer-events: none;
}

.opacity-div {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.5;
  z-index: 50;
}

.booking-form {
  display: none;
  justify-content: center;
  position: fixed;
  top: 11%;
  left: 10%;
  width: 80%;
  // height: 70vh;
  background-color: $whitewashWhite;
  z-index: 100;
  opacity: 1 !important;
}

.booking-form form {
  border: 2px solid $deepTurquoise;
}

.booking-form #label {
  @include H2;
  text-transform: uppercase;
  text-align: center !important;
  width: 100%;
}

.booking-form input {
  width: 100%;
  height: 46px;
  padding-left: 10px;
  color: $deepTurquoise;
  @include paragraph;
  background-color: $whitewashWhite;
  border-color: $deepTurquoise;
  border-width: 1px 0;
  // border-style: solid;
  // border: 0.5px 0 solid $deepTurquoise;
}

.booking-form input ::-webkit-input-placeholder {
  color: $deepTurquoise !important;
  @include paragraph;
  font-style: italic;
  // padding-left: 10px;
  // opacity: 1;
}

.booking-form input[type=date] {
  width: 100%;
  height: 46px;
  padding-left: 10px;
  color: $deepTurquoise;
  @include paragraph;
  background-color: $whitewashWhite;
  // border: 0.5px 0 solid $deepTurquoise;
}

.about-event-input {
  height: 190px !important;
}

.date-time-div {
  width: 100%;
  display: flex;
}

.date-input, .time-input {
  width: 50% !important;
}

.about-event-input ::-webkit-input-placeholder {
  vertical-align: top !important;
}

.booking-form button {
  width: 100%;
  height: 46px;
  background-color: $mandarin;
  color: $deepTurquoise;
  border-style: hidden;
  @include H1;
}

.upload-button-wrapper {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  // border: 0.5px solid $deepTurquoise;
}

.upload-input {
  width: 80% !important;
  position: absolute;
  opacity: 0;
}

.upload-picture-button {
  width: 20% !important;
  background-color: $lineBlue !important;
  color: $whitewashWhite !important;
}


