.homePage {
  @include flexCenterCenter;
  flex-direction: column;
  .eventCard__imageContainer__dateContainer {
    height: 113px;
    top: 3px;
    left: 3px;
  }
  .eventCard__textContainer {
    border-left: 1px solid $deepTurquoise;
    border-right: 1px solid $deepTurquoise;
  }
  .readMoreLink {
    margin-top: 16px;
    margin-bottom: 32px;
  }
}

.homePage__heroContainer {
  position: relative;
  width: 100%;
  margin-bottom: 16px;
  .homePage__heroContainer__heroImage {
    width: 100%;
    height: 334px;
    object-fit: cover;
  }
  .homePage__heroContainer__textContainer {
    position: absolute;
    width: 92%;
    bottom: 8px;
    left: 4%;
    background-color: rgba(31, 54, 52, 0.8);
    text-align: center;
    h1 {
      color: $whitewashWhite;
      text-transform: uppercase;
      margin: 16px;
    }
  }
}

.homePage__linksContainer {
  height: 172px;
  width: 92%;
  @include flexRowJustifyBetweenAlignCenter;
  flex-wrap: wrap;
  div {
    background-color: red;
    height: 52px;
    width: 49%;
    position: relative;
    @include flexCenterCenter;
    margin-bottom: 8px;
    img {
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    h2 {
      color: $white;
      position: absolute;
      z-index: 10;
      margin: 0;
      text-transform: uppercase;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      text-align: center;
    }
  }
}

.homePage__newsContainer {
  width: 92%;
  .homePage__newsContainer__item {
    height: 185px;
    position: relative;
    margin-bottom: 8px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .homePage__newsContainer__textContainer {
    position: absolute;
    width: 100%;
    height: 75px;
    bottom: 0;
    background: linear-gradient(180.92deg, rgba(31, 54, 52, 0) 0.06%, rgba(31, 54, 52, 0.93) 64.41%);
    h2 {
      color: $white;
    }
  }
}

.homePage__h1 {
  font-size: 20px;
  margin-top: 32px;
  margin-bottom: 16px;
}

