.homePage {
  @include flexCenterCenter;
  flex-direction: column;
}

.homePage__heroContainer {
  position: relative;
  width: 100%;
  margin-bottom: 16px;
  .homePage__heroContainer__heroImage {
    width: 100%;
    height: 334px;
    object-fit: cover;
  }
  .homePage__heroContainer__textContainer {
    position: absolute;
    width: 92%;
    bottom: 8px;
    left: 4%;
    background-color: rgba(31, 54, 52, 0.8);
    text-align: center;
    h1 {
      font-size: 20px;
      color: $whitewashWhite;
      text-transform: uppercase;
      margin-top: 8px;
      margin-bottom: 5px;
    }
    p {
      color: $whitewashWhite;
      margin-bottom: 8px;
      margin-top: 0;
    }
  }
}

.homePage__newsContainer {
  width: 100%;
  height: 366px;
  padding: 0 16px;
  margin-bottom: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1px;
  div {
    position: relative;
    img {
      max-height: 100%;
      min-width: 100%;
      object-fit: cover;
    }
  }
  :first-child {
    grid-column-start: 1;
    grid-column-end: 3;
    a {
      .homePage__newsContainer__textContainer {
        position: absolute;
        height: 100%;
        width: 50%;
        top: 0;
        right: 0;
        background-color: $deepTurquoise;
        padding: 7px;
        padding-top: 10px;
        h2 {
          margin-bottom: 7px;
        }
      }
    }
  }
}

.homePage__newsContainer__textContainer {
  z-index: 10;
  h2 {
    text-transform: uppercase;
    color: $white;
    margin: 0;
  }

  p {
    color: $whitewashAccent;
    margin: 0;
  }
}

.homePage__newsContainer__lastTwoItems {
  .homePage__newsContainer__textContainer {
    background-color: rgba(31, 54, 52, 0.88);
    position: absolute;
    height: 42%;
    width: 100%;
    bottom: 0;
    padding: 6px;
  }
}

.homePage__eventsLink {
  margin-top: 16px;
  margin-bottom: 24px;
  color: $deepTurquoise;
}

.homePage__h1 {
  font-size: 20px;
  margin-top: 24px;
  margin-bottom: 16px;
}

