.news-container {
  margin: 4%;
  width: 100%;
  height: auto;
}

.news-post-box,
.news-category-date-box,
.news-title-date,
.news-tagline,
.single-news-tagline,
.news-text,
.single-news-text,
.single-news-title,
.news-img {
  width: 96%;
  margin: 0;
}

.single-news-img {
  width: 100%;
}

.news-category-date-box {
  @include flexJustifyBetween;
}

.news-text {
  margin-bottom: 25px;
  @include paragraph;
}

.single-news-text {
  margin-bottom: 25px;
  @include paragraph;
  color: $deepTurquoise;
}

.news-tagline {
  margin: 10px 0;
  @include tagline;
}

.single-news-tagline {
  margin: 10px 0;
  @include tagline;
  color: $deepTurquoise;
}

.news-date {
  margin: 20px 0 10px 0;
  font-family: $H2 !important;
  @include H2;
}

.single-news-date {
  margin: 0;
  font-family: $H2 !important;
  @include H2;
}

.news-title {
  margin: 10px 0;
  @include H1;
  white-space: nowrap;
}

.single-news-title {
  @include H1;
  color: $deepTurquoise;
  white-space: nowrap;
  padding-bottom: 15px;
  border-bottom: 1px solid $black;
}

.news-category {
  color: $lineBlue;
  margin: 0;
}

.news-post-box {
  width: 96%;
}

.news-title-date {
  @include flexJustifyBetween;
  border-bottom: 2px solid $mandarinAccent;
}

a {
  color: $grey;
  text-decoration: none;
}

a:hover // Desktop only
{
  color: $deepTurquoise;
  text-decoration: none;
  cursor: pointer;
}

.back-to-articles {
  @include flexJustifyBetween;
}



