.searchForm {
  width: 90vw;
  @include flexCenterCenter;
  flex-direction: column;
  margin-top: 40px;
  .searchForm__searchBar {
    height: 2em;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid $black;
  }
  .searchForm__options {
    width: 100%;
    @include flexRow;
    background-color: $white;
    div {
      border: 1px solid $black;
      width: 50%;
      @include flexCenterCenter;
    }
  }
  .searchForm__categoryList, .searchForm__orderList {
    width: 100%;
    .searchForm__categoryList__item, .searchForm__orderList__item{
      border: 1px solid $black;
      width: 100%;
      @include flexRowJustifyBetweenAlignCenter;
    }
  }
}
