.searchForm {
  position: relative;
  width: 100%;
  margin-top: 16px;
  @include flexCenterCenter;
  flex-direction: column;

  .searchForm__searchBar {
    height: 39px;
    width: 100%;
    margin-bottom: 6px;
    border: 1px solid $lineBlue;

    background-color: $whitewashWhite;
    color: $deepTurquoise;
    @include paragraph;
    padding-left: 10px;
  }

  .searchForm__options {
    height: 46px;
    width: 100%;
    @include flexRow;
    border: 1px solid $lineBlue;
    background-color: $whitewashWhite;
    div {
      width: 50%;
      @include flexCenterCenter;
    }
    :last-child {
      background-color: $lineBlue;
      color: $whitewashWhite;
    }
  }

  .searchForm__listWrapper {
    position: relative;
    z-index: 100;
    width: 100%;
  }

  .searchForm__categoryList, .searchForm__orderList {
    position: absolute;
    width: 100%;
    background-color: $lineBlue;
    border-top: 1px solid $black;

    .searchForm__categoryList__item, .searchForm__orderList__item{
      border: solid $black;
      border-width: 0 1px 1px 1px;
      height: 45px;
      width: 100%;
      padding-left: 16px;
      padding-right: 29px;
      @include flexRowJustifyBetweenAlignCenter;
    }

    .searchForm__categoryList__item {
      background-color: $deepTurquoise;

      p {
        color: #F3F0E8;
      }
    }

    .searchForm__categoryList__item.searchForm__categoryList__okBtn {
      background-color: #7C8883;
      border: none;
      height: 48px;
      @include flexCenterCenter;

      p {
        color: $white;
      }
    }

    .searchForm__orderList__item.searchForm__orderList__okBtn {
      background-color: $deepTurquoise;
      border: none;
      height: 48px;
      @include flexCenterCenter;

      p {
        color: $white;
      }
    }

    .searchForm__orderList__item {
      background-color: $lineBlue;

      p {
        color: #F3F0E8;
      }
    }
  }

  .submitBtn {
    position: absolute;
    top: 4px;
    right: 6px;
    padding: 0;
  }
}


