.singleEvent__image {
  width: 100%;
  height: 256px;
  object-fit: cover;
}

.singleEvent__textWrapper {
  padding: 0 16px;

  * {
    margin: 0;
  }

  h1 {
    color: $deepTurquoise;
    text-transform: uppercase;
  }

  hr {
    border-width: 0.5px;
    border-color: $mandarinAccent;
    box-shadow: 0px 1px 4px rgba(255, 164, 80, 0.78);
  }

  p {
    color: $deepTurquoise;
    margin: 0;
  }
  .event-tagline {
    margin-bottom: 10px;
  }
}

.singleEvent__textWrapper__titleContainer {
  margin: 8px 0;
}

.singleEvent__textWrapper__dateTimeContainer {
  @include flexCenterCenter;
  justify-content: flex-start;
  margin-top: 8px;
  margin-bottom: 24px;

  p {
    color: $lineBlue;
  }

  :first-child {
    margin-right: 90px;
  }
}

.singleEvent__textWrapper__ticketLink {
  height: 49px;
  width: 100%;
  background-color: $deepTurquoise;
  @include flexCenterCenter;
  margin-bottom: 24px;

  h1 {
    color: $whitewashWhite;
  }
}

.singleEvent__carouselTitle {
  text-align: center;
  margin: 24px 0;
  color: $deepTurquoise;
}

.singleEventCarousel {
  margin-bottom: 32px;
}


